body {
    height: 100vh;
}

.gameArea {
    border: solid black;
    position: relative;
    margin: auto;
    height: 90%;
    width: 50%;
}

.platform {
    position: absolute;
    height: 15px;
    background-color: green;
}

.doodler {
    position: absolute;
    height: 85px;
    background-color: red;
}